.cta{
  padding-top: 10em;

  > div[class="site-max-width"]{
    @media screen and (min-width: 850px){
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 3rem;
      align-items: center;
      justify-content: center;
    }

    .tell{
      p{
        margin-bottom: 1em;

        @media screen and (min-width: 850px) {
          &:first-child{
            max-width: 29em;
          }

          &:nth-child(2){
            max-width: 35em;
          }
        }

      }
    }
  }

  h2{
    margin-top: 0.5em;
    margin-bottom: 1em;

    @media screen and (min-width: 850px){
      font-size: 2.25em;
      max-width: 10em ;
    }

  }

  a {
    display: inline-flex;
    align-items: center;
    gap: 1em;
    font-size: rem(12);
    color: $cyan;
    padding-bottom: 0.3em;
    text-decoration: none;
    border-bottom: 1px solid $cyan;
  }
}