* {
  margin: rem(0);
  padding: rem(0);
  line-height: 1.6;
  box-sizing: border-box;
}

//For debugging
//* {
//  outline: 1px solid red;
//}

body{
  min-height: 100vh;
  max-width: 100vw;
  font-family: $body-font-family;
  font-size: $body-font-size;
  color: $white;
}

h1, h2, h3, h4{
  font-family: $headings-font-family;
}

h2{
  font-size: $font-size-h2;
}

.site-max-width{
  width: 88%;
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}

main, .cta, .testimonials{
  background-color: $primary-blue;
}

button, input{
  border: none;
}

.btn{
  background: linear-gradient(45deg, $cyan, $blue);
  color: $white;
  padding: 1em 5em;
  border-radius: 22px;
  font-weight: $body-font-weight-700;
  cursor: pointer;
}