.hero{
  background: $greyish-blue url('../images/bg-curvy-mobile.svg') no-repeat bottom;
  background-size: contain;
  padding-top: 3em;

  @media (min-width: 1800px){
    background: $greyish-blue url('../images/bg-curvy-desktop.svg') no-repeat bottom;
    background-size: contain;
  }

  > div[class='site-max-width']{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1, p{
    text-align: center;
  }

  .btn{
    margin-top: 2.5em;
  }
}